<!DOCTYPE html>
<html>
	<body>
		<div class="container">
			<img class="img" src="images/ram.png" alt="">
			<h1>Welcome new Student!</br></br></h1>

			<div>
				<p> This is the university's new event register portal.</p>
				<p> Make sure you register your contacts for an event by clicking the <a href="/contact">ADD CONTACTS</a> button. </p>
				<p> You can also check out students who already registered by clicking the <a href="/users">USERS</a> button!</p>
			</div>
		</div>
	</body>
</html>
