<head>
	<meta charset="utf-8">
	<title>WCU Users</title>
	<link rel="stylesheet" href="./css/bootstrap.css">
	<link rel="stylesheet" href="./css/wcu_users.css">
</head>

<div id="nav">
    <div id="info_bar">
        Local Data & Time: <%=new Date()%>
    </div>
    
    <div id="top_bar">
        <div>
            <h1 class="title">West Chester University</h1>
        </div>
        
        <div>
            <a href="/"> 	 	<span class="button"> Home		</span> </a>
            <a href="/contact"> <span class="button"> Add Contacts 	</span> </a>
            <a href="/users"> 	    <span class="button"> Users		</span> </a>
        </div>
    </div>
</div>

<%- body %>